.head {
  height: 10vh;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Col-1);
  padding: 1rem;
  border-bottom: var(--Border);
  box-shadow: var(--Shadow);
  background: var(--Bg-Header);
  transition: var(--Ani);
  & ion-icon {
    color: var(--Col-1);
  }
  & #CenterBox {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  & button {
    display: flex;
    cursor: pointer;
    border: none;
    background: transparent;
  }
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
}
#CenterRight {
  display: flex;
  gap: 1rem;
}
/* Search */
.search-container {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  border: var(--Border);
  & input {
    height: 2.2rem;
    width: 12rem; /* 0rem */
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
    display: flex;
    border: none;
    background: transparent;
    border-radius: 0.25rem 0 0 0.25rem;
    &:focus {
      outline: 2px solid var(--Col-2);
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }
  & button {
    padding: 0.3rem 0.45rem;
    display: flex;
    border-left: var(--Border);
  }
}
/* Dropdown - Profile */
#userDropdownWrapper {
  display: flex;
  position: relative;
  border-radius: 50%;
  border: var(--Border);
  & .user-icon {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    cursor: pointer;
  }
}
.dropdown {
  width: 12rem;
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  z-index: 1;
  border-radius: 0.5rem;
  border: var(--Border);
  box-shadow: var(--Shadow);
  background: var(--Bg-Header);
  transition: var(--Ani);
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  & .Drop_item {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--Col-1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: none;
    background: none;
    &:hover {
      color: var(--Col-2);
      background: var(--Bg-1);
    }
  }
}
#loginBTN,
#logoutBTN {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background: none;
}
#logoutBTN.hidden {
  display: none;
}
.dropdown.activeDrop {
  display: flex;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.submenu-tema {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  transition: var(--Ani);
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  & li {
    color: var(--Col-1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    &:hover {
      background: var(--Bg-1);
    }
  }
  & button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--Col-1);
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 0.4rem;
    &:hover {
      color: var(--Col-2);
    }
  }
  &.hiddenTheme {
    display: none;
    animation: growUp 300ms ease-in-out forwards;
    transform-origin: top center;
  }
}
