.head {
  height: 10vh;
  padding: 0 3rem;
  color: var(--Col);
  display: flex;
  align-items: center;
  background: var(--Bg);
}
.Box-Logo {
  display: flex;
  align-items: center;
}
.Title-01 {
  letter-spacing: 1px;
  &:hover {
    color: var(--Kustom);
  }
}
/* Menu */
.menu {
  margin-left: 2rem;
  display: flex;
}
.menu-ul {
  display: flex;
  list-style: none;
  gap: 0.4rem;
}
.menu-a {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Col);
  &:hover {
    color: var(--Kustom);
  }
}
.Box-user {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu_icon {
  font-size: 1.5rem;
}
.lupa,
.inbox,
.user {
  cursor: pointer;
  display: flex;
  border-radius: 1rem;
  border: none;
  background: none;
}
#search-input {
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 1rem;
  outline: 1.4px solid var(--Col);

  &:focus {
    outline: 1.4px solid var(--Kustom);
  }
}
