.foot {
  height: 10vh;
  padding: 3rem 0;
  color: var(--Col-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  border-top: var(--Border);
  box-shadow: var(--Shadow);
  background: var(--Bg-Header);
  transition: var(--Ani);
}
.foot_logo-Social {
  display: flex;
  align-items: center;
  gap: 1rem;

  & ul {
    list-style: none;
  }
}
.Logo {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}
.Logo,
.Social {
  color: var(--Col-1);
}
.Divisor {
  height: 1rem;
  width: 0.1rem;
  background: var(--Col-3);
}

.CopyText {
  font-size: 0.9rem;
  font-weight: 300;
}
